<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Synergy-Home</title>
    </head>
    <body>
        {{> header}}

        <section>
            <aside>
                <h2><span>green</span>-grocerer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>

            </aside>

        </section>
        {{> footer}}
        
    </body>
</html>  